@using Pianificazioneturni.Web.Areas.Example.Users
@model IndexViewModel

@{
    ViewData["Title"] = "Pianificazione Turni";
    var oraCorrente = Model.OraCorrente;
}

@section pageTitle {
    <div class="page-title position-absolute start-50 translate-middle">
        @ViewData["Title"]
    </div>
}

@section styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

@section navbar {
    <nav class="navbar navbar-expand-lg justify-content-md-center mb-4" style="background-color: #E3F2FD;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav gap-5 mx-auto">
                    <li class="nav-item"><a class="nav-link active fw-bold" href="@Url.Action(MVC.Example.Users.Index())">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action(MVC.Example.Users.GestioneNavi())">Gestione Navi</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action(MVC.Example.Users.GestioneDipendenti())">Gestione Dipendenti</a></li>
                </ul>
            </div>
        </div>
    </nav>
}

<div id="app" v-cloak>
<div class="container-fluid">
    <div class="row">
        <!-- Navi oggi -->
        <div class="col-md-6">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="fw-bold mb-0">NAVI OGGI</h5>
            </div>
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th colspan="5" class="text-center bg-primary text-white">@Model.DataOggi.ToString("dd/MM/yyyy")</th>
                    </tr>
                    <tr>
                        <th>Nome Nave</th>
                        <th>Pontile</th>
                        <th class="text-center fascia-header">00:00 - 08:00</th>
                        <th class="text-center fascia-header">08:00 - 16:00</th>
                        <th class="text-center fascia-header">16:00 - 24:00</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.NaviOggi.Any())
                    {
                        @foreach (var nave in Model.NaviOggi)
                        {
                            var stato = nave.GetStato(oraCorrente);
                            var statoClasse = stato switch {
                                StatoNave.InLavorazione => "stato-lavorazione",
                                StatoNave.InPartenza => "stato-partenza",
                                StatoNave.InArrivo => "stato-arrivo",
                                _ => ""
                            };
                            <tr>
                                <td>
                                    <div class="fw-bold">@nave.Nome</div>
                                    <span class="nave-stato @statoClasse">@nave.GetStatoDescrizione(oraCorrente)</span>
                                </td>
                                <td class="text-center">@nave.Pontile</td>
                                <!-- Fascia Mattina -->
                                <td class="col-fascia">
                                    @if (nave.FasciaMattina)
                                    {
                                        var fasciaInArrivo = nave.IsFasciaInArrivo(FasciaOraria.Mattina, oraCorrente);
                                        @if (fasciaInArrivo && !nave.DipendentiMattina.Any())
                                        {
                                            <div class="seleziona-dipendente" onclick="apriModalSelezione(@nave.Id, 0, 'oggi', @nave.RichiedeGruisti.ToString().ToLower(), @nave.RichiedeMulettisti.ToString().ToLower())">
                                                + Seleziona dipendenti
                                            </div>
                                        }
                                        else
                                        {
                                            @foreach (var dip in nave.DipendentiMattina)
                                            {
                                                @if (fasciaInArrivo)
                                                {
                                                    <div class="dipendente cliccabile @(dip.PatenteScaduta ? "patente-scaduta" : "") @(dip.RichiedeVariazione ? "variazione" : "")"
                                                         onclick="apriModalCambio(@dip.Id, '@dip.NomeCompleto', @nave.Id, 0, 'oggi', @nave.RichiedeGruisti.ToString().ToLower(), @nave.RichiedeMulettisti.ToString().ToLower())">
                                                        @if (dip.PatenteScaduta) { <img src="~/images/patente.png" alt="Patente scaduta" title="Patente scaduta" style="width: 16px; height: 16px; vertical-align: middle;" /> }
                                                        @if (dip.RichiedeVariazione) { <img src="~/images/variazione.png" alt="Richiede variazione" title="Richiede variazione" style="width: 16px; height: 16px; vertical-align: middle;" /> }
                                                        <span>@dip.NomeCompleto</span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="dipendente non-cliccabile @(dip.PatenteScaduta ? "patente-scaduta" : "")">
                                                        @if (dip.PatenteScaduta) { <img src="~/images/patente.png" alt="Patente scaduta" title="Patente scaduta" style="width: 16px; height: 16px; vertical-align: middle;" /> }
                                                        <span>@dip.NomeCompleto</span>
                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                </td>
                                <!--fascia pomeriggio -->
                                <td class="col-fascia">
                                    @if (nave.FasciaPomeriggio)
                                    {
                                        var fasciaInArrivo = nave.IsFasciaInArrivo(FasciaOraria.Pomeriggio, oraCorrente);
                                        @if (fasciaInArrivo && !nave.DipendentiPomeriggio.Any())
                                        {
                                            <div class="seleziona-dipendente" onclick="apriModalSelezione(@nave.Id, 1, 'oggi', @nave.RichiedeGruisti.ToString().ToLower(), @nave.RichiedeMulettisti.ToString().ToLower())">
                                                + Seleziona dipendenti
                                            </div>
                                        }
                                        else
                                        {
                                            @foreach (var dip in nave.DipendentiPomeriggio)
                                            {
                                                @if (fasciaInArrivo)
                                                {
                                                    <div class="dipendente cliccabile @(dip.PatenteScaduta ? "patente-scaduta" : "") @(dip.RichiedeVariazione ? "variazione" : "")"
                                                         onclick="apriModalCambio(@dip.Id, '@dip.NomeCompleto', @nave.Id, 1, 'oggi', @nave.RichiedeGruisti.ToString().ToLower(), @nave.RichiedeMulettisti.ToString().ToLower())">
                                                        @if (dip.PatenteScaduta) { <img src="~/images/patente.png" alt="Patente scaduta" title="Patente scaduta" style="width: 16px; height: 16px; vertical-align: middle;" /> }
                                                        @if (dip.RichiedeVariazione) { <img src="~/images/variazione.png" alt="Richiede variazione" title="Richiede variazione" style="width: 16px; height: 16px; vertical-align: middle;" /> }
                                                        <span>@dip.NomeCompleto</span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="dipendente non-cliccabile @(dip.PatenteScaduta ? "patente-scaduta" : "")">
                                                        @if (dip.PatenteScaduta) { <img src="~/images/patente.png" alt="Patente scaduta" title="Patente scaduta" style="width: 16px; height: 16px; vertical-align: middle;" /> }
                                                        <span>@dip.NomeCompleto</span>
                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                </td>
                                <!-- fascia sera -->
                                <td class="col-fascia">
                                    @if (nave.FasciaSera)
                                    {
                                        var fasciaInArrivo = nave.IsFasciaInArrivo(FasciaOraria.Sera, oraCorrente);
                                        @if (fasciaInArrivo && !nave.DipendentiSera.Any())
                                        {
                                            <div class="seleziona-dipendente" onclick="apriModalSelezione(@nave.Id, 2, 'oggi', @nave.RichiedeGruisti.ToString().ToLower(), @nave.RichiedeMulettisti.ToString().ToLower())">
                                                + Seleziona dipendenti
                                            </div>
                                        }
                                        else
                                        {
                                            @foreach (var dip in nave.DipendentiSera)
                                            {
                                                @if (fasciaInArrivo)
                                                {
                                                    <div class="dipendente cliccabile @(dip.PatenteScaduta ? "patente-scaduta" : "") @(dip.RichiedeVariazione ? "variazione" : "")"
                                                         onclick="apriModalCambio(@dip.Id, '@dip.NomeCompleto', @nave.Id, 2, 'oggi', @nave.RichiedeGruisti.ToString().ToLower(), @nave.RichiedeMulettisti.ToString().ToLower())">
                                                        @if (dip.PatenteScaduta) { <img src="~/images/patente.png" alt="Patente scaduta" title="Patente scaduta" style="width: 16px; height: 16px; vertical-align: middle;" /> }
                                                        @if (dip.RichiedeVariazione) { <img src="~/images/variazione.png" alt="Richiede variazione" title="Richiede variazione" style="width: 16px; height: 16px; vertical-align: middle;" /> }
                                                        <span>@dip.NomeCompleto</span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="dipendente non-cliccabile @(dip.PatenteScaduta ? "patente-scaduta" : "")">
                                                        @if (dip.PatenteScaduta) { <img src="~/images/patente.png" alt="Patente scaduta" title="Patente scaduta" style="width: 16px; height: 16px; vertical-align: middle;" /> }
                                                        <span>@dip.NomeCompleto</span>
                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center text-muted">Nessuna nave per oggi</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Navi domani-->
        <div class="col-md-6">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="fw-bold mb-0">NAVI DOMANI</h5>
            </div>
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th colspan="5" class="text-center bg-secondary text-white">@Model.DataDomani.ToString("dd/MM/yyyy")</th>
                    </tr>
                    <tr>
                        <th>Nome Nave</th>
                        <th>Pontile</th>
                        <th class="text-center fascia-header">00:00 - 08:00</th>
                        <th class="text-center fascia-header">08:00 - 16:00</th>
                        <th class="text-center fascia-header">16:00 - 24:00</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.NaviDomani.Any())
                    {
                        @foreach (var nave in Model.NaviDomani)
                        {
                            <tr>
                                <td>
                                    <div class="fw-bold">@nave.Nome</div>
                                    <span class="nave-stato stato-arrivo">In arrivo</span>
                                </td>
                                <td class="text-center">@nave.Pontile</td>
                                <!-- fascia mattina -->
                                <td class="col-fascia">
                                    @if (nave.FasciaMattina)
                                    {
                                        @if (!nave.DipendentiMattina.Any())
                                        {
                                            <div class="seleziona-dipendente" onclick="apriModalSelezione(@nave.Id, 0, 'domani', @nave.RichiedeGruisti.ToString().ToLower(), @nave.RichiedeMulettisti.ToString().ToLower())">
                                                + Seleziona dipendenti
                                            </div>
                                        }
                                        else
                                        {
                                            @foreach (var dip in nave.DipendentiMattina)
                                            {
                                                <div class="dipendente cliccabile @(dip.PatenteScaduta ? "patente-scaduta" : "") @(dip.RichiedeVariazione ? "variazione" : "")"
                                                     onclick="apriModalCambio(@dip.Id, '@dip.NomeCompleto', @nave.Id, 0, 'domani', @nave.RichiedeGruisti.ToString().ToLower(), @nave.RichiedeMulettisti.ToString().ToLower())">
                                                    @if (dip.PatenteScaduta) { <img src="~/images/patente.png" alt="Patente scaduta" title="Patente scaduta" style="width: 16px; height: 16px; vertical-align: middle;" /> }
                                                    @if (dip.RichiedeVariazione) { <img src="~/images/variazione.png" alt="Richiede variazione" title="Richiede variazione" style="width: 16px; height: 16px; vertical-align: middle;" /> }
                                                    <span>@dip.NomeCompleto</span>
                                                </div>
                                            }
                                        }
                                    }
                                </td>
                                <!-- fascia pomeriggio -->
                                <td class="col-fascia">
                                    @if (nave.FasciaPomeriggio)
                                    {
                                        @if (!nave.DipendentiPomeriggio.Any())
                                        {
                                            <div class="seleziona-dipendente" onclick="apriModalSelezione(@nave.Id, 1, 'domani', @nave.RichiedeGruisti.ToString().ToLower(), @nave.RichiedeMulettisti.ToString().ToLower())">
                                                + Seleziona dipendenti
                                            </div>
                                        }
                                        else
                                        {
                                            @foreach (var dip in nave.DipendentiPomeriggio)
                                            {
                                                <div class="dipendente cliccabile @(dip.PatenteScaduta ? "patente-scaduta" : "") @(dip.RichiedeVariazione ? "variazione" : "")"
                                                     onclick="apriModalCambio(@dip.Id, '@dip.NomeCompleto', @nave.Id, 1, 'domani', @nave.RichiedeGruisti.ToString().ToLower(), @nave.RichiedeMulettisti.ToString().ToLower())">
                                                    @if (dip.PatenteScaduta) { <img src="~/images/patente.png" alt="Patente scaduta" title="Patente scaduta" style="width: 16px; height: 16px; vertical-align: middle;" /> }
                                                    @if (dip.RichiedeVariazione) { <img src="~/images/variazione.png" alt="Richiede variazione" title="Richiede variazione" style="width: 16px; height: 16px; vertical-align: middle;" /> }
                                                    <span>@dip.NomeCompleto</span>
                                                </div>
                                            }
                                        }
                                    }
                                </td>
                                <!-- fascia sera -->
                                <td class="col-fascia">
                                    @if (nave.FasciaSera)
                                    {
                                        @if (!nave.DipendentiSera.Any())
                                        {
                                            <div class="seleziona-dipendente" onclick="apriModalSelezione(@nave.Id, 2, 'domani', @nave.RichiedeGruisti.ToString().ToLower(), @nave.RichiedeMulettisti.ToString().ToLower())">
                                                + Seleziona dipendenti
                                            </div>
                                        }
                                        else
                                        {
                                            @foreach (var dip in nave.DipendentiSera)
                                            {
                                                <div class="dipendente cliccabile @(dip.PatenteScaduta ? "patente-scaduta" : "") @(dip.RichiedeVariazione ? "variazione" : "")"
                                                     onclick="apriModalCambio(@dip.Id, '@dip.NomeCompleto', @nave.Id, 2, 'domani', @nave.RichiedeGruisti.ToString().ToLower(), @nave.RichiedeMulettisti.ToString().ToLower())">
                                                    @if (dip.PatenteScaduta) { <img src="~/images/patente.png" alt="Patente scaduta" title="Patente scaduta" style="width: 16px; height: 16px; vertical-align: middle;" /> }
                                                    @if (dip.RichiedeVariazione) { <img src="~/images/variazione.png" alt="Richiede variazione" title="Richiede variazione" style="width: 16px; height: 16px; vertical-align: middle;" /> }
                                                    <span>@dip.NomeCompleto</span>
                                                </div>
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center text-muted">Nessuna nave per domani</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal cambio dipendente -->
    <div v-if="modalCambioVisible" class="modal-overlay" v-on:click="chiudiModalOverlay($event, 'cambio')">
        <div class="modal-box">
            <div class="modal-title">Variazione Dipendente</div>
            <p class="text-center mb-3">Dipendente attuale: <strong>{{ dipendenteAttualeNome }}</strong></p>
            <label class="form-label">Seleziona sostituto:</label>
            <div style="max-height: 250px; overflow-y: auto;">
                <div v-for="dip in dipendentiDisponibili" :key="dip.id"
                     :class="['dipendente-option', { 'selected': dipendenteSelezionatoId === dip.id, 'patente-scaduta': dip.patenteScaduta, 'non-disponibile': !dip.disponibile }]"
                     v-on:click="dip.disponibile && selezionaDipendente(dip.id)">
                    {{ dip.nomeCompleto }}
                    <span v-if="dip.patenteScaduta" style="color: #dc3545;"> (Patente scaduta)</span>
                    <span v-if="!dip.disponibile && !dip.patenteScaduta" style="font-size: 0.8rem;"> - Già assegnato</span>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" v-on:click="chiudiModalCambio()">Annulla</button>
                <button class="btn btn-success" v-on:click="salvaCambio()">Conferma</button>
            </div>
        </div>
    </div>

    <!-- Modal selezione dipendenti -->
    <div v-if="modalSelezioneVisible" class="modal-overlay" v-on:click="chiudiModalOverlay($event, 'selezione')">
        <div class="modal-box">
            <div class="modal-title">Seleziona Dipendenti</div>
            <p class="text-muted text-center mb-3">Selezionati: <strong>{{ dipendentiSelezionatiIds.length }}/5</strong></p>
            <div style="max-height: 300px; overflow-y: auto;">
                <div v-for="dip in dipendentiDisponibili" :key="dip.id"
                     :class="['dipendente-option', { 'selected': dipendentiSelezionatiIds.includes(dip.id), 'patente-scaduta': dip.patenteScaduta, 'non-disponibile': !dip.disponibile }]"
                     v-on:click="dip.disponibile && toggleDipendente(dip.id)">
                    {{ dip.nomeCompleto }}
                    <span v-if="dip.patenteScaduta" style="color: #dc3545;"> (Patente scaduta)</span>
                    <span v-if="!dip.disponibile && !dip.patenteScaduta" style="font-size: 0.8rem;"> - Già assegnato</span>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" v-on:click="chiudiModalSelezione()">Annulla</button>
                <button class="btn btn-success" v-on:click="salvaSelezione()">Conferma</button>
            </div>
        </div>
    </div>
    </div>
</div>

@section scripts {
<script>
if (typeof Vue === 'undefined') {
    console.error('Vue.js non è caricato!');
} else {
    const { createApp } = Vue;

    const app = createApp({
        data() {
            return {
                gruisti: @Html.Raw(Json.Serialize(Model.Gruisti)),
                mulettisti: @Html.Raw(Json.Serialize(Model.Mulettisti)),
                tuttiDipendenti: @Html.Raw(Json.Serialize(Model.TuttiDipendenti)),
                assegnazioni: @Html.Raw(Json.Serialize(Model.Assegnazioni)),

                modalCambioVisible: false,
                modalSelezioneVisible: false,

                vecchioDipendenteId: null,
                dipendenteAttualeNome: '',
                naveIdCorrente: null,
                fasciaCorrente: null,
                giornoCorrente: null,

                richiedeGruistiCorrente: false,
                richiedeMulettistiCorrente: false,

                dipendenteSelezionatoId: null,
                dipendentiSelezionatiIds: [],
                dipendentiGiaAssegnatiCorrente: [] //dipendenti già nella lista corrente
            };
        },
        computed: {
            dipendentiFiltrati() {
                let lista = [];
                if (this.richiedeGruistiCorrente) lista = lista.concat(this.gruisti);
                if (this.richiedeMulettistiCorrente) lista = lista.concat(this.mulettisti);
                if (!this.richiedeGruistiCorrente && !this.richiedeMulettistiCorrente) lista = this.tuttiDipendenti;
                return lista;
            },
            dipendentiDisponibili() {
                return this.dipendentiFiltrati.map(d => ({
                    ...d,
                    disponibile: this.isDipendenteDisponibile(d.id, this.fasciaCorrente, this.giornoCorrente)
                        && !this.dipendentiGiaAssegnatiCorrente.includes(d.id) //esclude i dipendenti già presenti
                        && d.id !== this.vecchioDipendenteId //escludi il dipendente con variazione
                        && !d.patenteScaduta //escludi dipendenti con patente scaduta
                }));
            }
        },
        methods: {
            isDipendenteDisponibile(dipId, fascia, giorno) {
                let dipendentiOccupati = [];

                if (fascia === 0) {
                    if (giorno === 'domani') {
                        for (let key in this.assegnazioni) {
                            if (key.endsWith('_2_oggi')) {
                                dipendentiOccupati = dipendentiOccupati.concat(this.assegnazioni[key]);
                            }
                        }
                    }
                } else if (fascia === 1) {
                    for (let key in this.assegnazioni) {
                        if (key.endsWith('_0_' + giorno)) {
                            dipendentiOccupati = dipendentiOccupati.concat(this.assegnazioni[key]);
                        }
                    }
                } else if (fascia === 2) {
                    for (let key in this.assegnazioni) {
                        if (key.endsWith('_1_' + giorno)) {
                            dipendentiOccupati = dipendentiOccupati.concat(this.assegnazioni[key]);
                        }
                    }
                }

                return !dipendentiOccupati.includes(dipId);
            },
            apriModalCambio(dipId, dipNome, naveId, fascia, giorno, richiedeGruisti, richiedeMulettisti) {
                this.vecchioDipendenteId = dipId;
                this.dipendenteAttualeNome = dipNome;
                this.naveIdCorrente = naveId;
                this.fasciaCorrente = fascia;
                this.giornoCorrente = giorno;
                this.richiedeGruistiCorrente = richiedeGruisti;
                this.richiedeMulettistiCorrente = richiedeMulettisti;
                this.dipendenteSelezionatoId = null;

                //ottieni dipendenti già assegnati a questa nave/fascia (escluso quello da cambiare)
                const chiave = `${naveId}_${fascia}_${giorno}`;
                this.dipendentiGiaAssegnatiCorrente = (this.assegnazioni[chiave] || []).filter(id => id !== dipId);

                this.modalCambioVisible = true;
            },
            apriModalSelezione(naveId, fascia, giorno, richiedeGruisti, richiedeMulettisti) {
                this.naveIdCorrente = naveId;
                this.fasciaCorrente = fascia;
                this.giornoCorrente = giorno;
                this.richiedeGruistiCorrente = richiedeGruisti;
                this.richiedeMulettistiCorrente = richiedeMulettisti;
                this.dipendentiSelezionatiIds = [];
                this.vecchioDipendenteId = null;

                //ottieni dipendenti già assegnati a questa nave/fascia
                const chiave = `${naveId}_${fascia}_${giorno}`;
                this.dipendentiGiaAssegnatiCorrente = this.assegnazioni[chiave] || [];

                this.modalSelezioneVisible = true;
            },
            selezionaDipendente(dipId) {
                this.dipendenteSelezionatoId = dipId;
            },
            toggleDipendente(dipId) {
                const index = this.dipendentiSelezionatiIds.indexOf(dipId);
                if (index > -1) {
                    this.dipendentiSelezionatiIds.splice(index, 1);
                } else {
                    if (this.dipendentiSelezionatiIds.length < 5) {
                        this.dipendentiSelezionatiIds.push(dipId);
                    } else {
                        alert('Puoi selezionare massimo 5 dipendenti');
                    }
                }
            },
            async salvaCambio() {
                if (!this.dipendenteSelezionatoId) {
                    alert('Seleziona un dipendente');
                    return;
                }

                const response = await fetch('@Url.Action("CambiaDipendente", "Users", new { Area = "Example" })', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                    body: `naveId=${this.naveIdCorrente}&fascia=${this.fasciaCorrente}&vecchioDipendenteId=${this.vecchioDipendenteId}&nuovoDipendenteId=${this.dipendenteSelezionatoId}`
                });

                const data = await response.json();
                if (data.success) {
                    location.reload();
                }
            },
            async salvaSelezione() {
                if (this.dipendentiSelezionatiIds.length === 0) {
                    alert('Seleziona almeno un dipendente');
                    return;
                }

                if (this.dipendentiSelezionatiIds.length < 5) {
                    alert('Devi selezionare esattamente 5 dipendenti');
                    return;
                }

                const response = await fetch(`@Url.Action("SalvaAssegnazione", "Users", new { Area = "Example" })?naveId=${this.naveIdCorrente}&fascia=${this.fasciaCorrente}`, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(this.dipendentiSelezionatiIds)
                });

                const data = await response.json();
                if (data.success) {
                    location.reload();
                }
            },
            chiudiModalCambio() {
                this.modalCambioVisible = false;
            },
            chiudiModalSelezione() {
                this.modalSelezioneVisible = false;
            },
            chiudiModalOverlay(event, modalType) {
                if (event.target.classList.contains('modal-overlay')) {
                    if (modalType === 'cambio') this.chiudiModalCambio();
                    else if (modalType === 'selezione') this.chiudiModalSelezione();
                }
            }
        }
    });

    //monta Vue quando il DOM è pronto
    let vueAppInstance = null;

    function mountVue() {
        const appElement = document.getElementById('app');
        if (appElement && !vueAppInstance) {
            vueAppInstance = app.mount('#app');
            console.log('Vue Home montato con successo!');
        }
    }

    if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', mountVue);
    } else {
        setTimeout(mountVue, 0);
    }

    //esponi tutte le funzioni globali per compatibilità con onclick nell' HTML
    window.apriModalCambio = function(dipId, dipNome, naveId, fascia, giorno, richiedeGruisti, richiedeMulettisti) {
        if (!vueAppInstance) mountVue();
        if (vueAppInstance) {
            vueAppInstance.apriModalCambio(dipId, dipNome, naveId, fascia, giorno, richiedeGruisti, richiedeMulettisti);
        }
    };

    window.apriModalSelezione = function(naveId, fascia, giorno, richiedeGruisti, richiedeMulettisti) {
        if (!vueAppInstance) mountVue();
        if (vueAppInstance) {
            vueAppInstance.apriModalSelezione(naveId, fascia, giorno, richiedeGruisti, richiedeMulettisti);
        }
    };

    window.chiudiModalCambio = function() {
        if (vueAppInstance) vueAppInstance.chiudiModalCambio();
    };

    window.chiudiModalSelezione = function() {
        if (vueAppInstance) vueAppInstance.chiudiModalSelezione();
    };

    window.salvaCambio = function() {
        if (vueAppInstance) vueAppInstance.salvaCambio();
    };

    window.salvaSelezione = function() {
        if (vueAppInstance) vueAppInstance.salvaSelezione();
    };
}
</script>
}
